<div class="container-fluid">
  <div class="jumbotron text-center" style="background-color:#0E4C6B;">
    <h2>Bullish</h2>
    <h3>Follow Top Portfolios</h3>
    <%= image_tag("bull_logo.png", :alt => "logo", class: 'center-block') %>
    <h3>And Trade Like a Pro</h3>
    <br>
    <div> <%= link_to "Get Started Now!", root_path, class: 'btn btn-primary text-center', style: 'font-size:20px;' %></div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <%= image_tag("playbook.png", :alt => "playbook", class: 'center-block') %>
      <h3>instant Access to Top Trading Strategies</h3>
      <p>Learn from the best traders as they share their trades and active portfolio in real time.</p>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <%= image_tag("", :alt => "follow", class: 'center-block') %>
        <h3>Never Miss a Thing</h3>
        <p>Easily Track Stock Recommendations from friends and experts and see how they play out.</p>
      </div>
    </div>
  </div>
</div>
